@model IEnumerable<Evaluation.Domain.Entities.Vehicle>


@{
}


@if (Model is not null && Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @if (item.Active)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>no</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChasisNo)
            </td>
            <td>
                @item.DateOfPurchase.ToString("dd/MM/yyyy")
            </td>
           
        </tr>
    }
}

else
{
    <tr>
        <td colspan="8"> No data</td>
    </tr>
}


